.black {
    background-color: black; 
    height: 100px; 
    width: 100px;
}
.white {
    background-color: rgb(189, 189, 189); 
    height: 100px; 
    width: 100px;
}
.grid-container {
    display: inline-grid;
    /* grid-column: 8; */
    grid-template-columns: auto auto auto auto auto auto auto auto;
  }

  .grid-item-black {
    /* color: red; */
    background-color: black;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 30px; 
    width: 30px;
  }
  .grid-item-white {
    /* color: red; */
    background-color: rgb(85, 113, 240);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 30px; 
    width: 30px;
  }