body{
    margin: 0;
    font-family: 'Roboto Slab', serif;
    background-color: #FBFDFD;
}
.navbar{
    margin-bottom: 0;
}
.nav-list {
    background-color: #8EB1D0;
    display:flex;
    justify-content: center;
    margin-bottom: 0;

}
.nav-item{
    list-style: none;
    padding-top: 50px;
    padding-right: 6%;
    align-items: center;
}
.logo{
    /* padding-top: 50px; */ 
    color: #FBFDFD;
    align-items: center;
    margin-bottom: 0;
}
.nav-item a{
    font-size: 1.2rem;
    font-family: 'Roboto Slab' serif;
    text-decoration: none;
    color: #FBFDFD; 
}

header{
    margin-bottom: 0;
    padding:0;
}
#greenHomePageBox{
    z-index: -1;
    width: 525px;
    height: 520px;
    /* left: 0px; */
    /* margin:0; */
    background: #C8D090;
}
#blueHomePageBox{
    z-index: -1;
    /* justify-content: right; */
    width: 850;
    height: 520px;
    /* left: 0px; */
    margin:0;
    background: #254159;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    margin-top: 0;
    padding: 0;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 
#mapContainer{
    height: 700px;
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#frameOne{
    z-index: -1;
    width: 525px;
    height: 560px;
    margin-top: -50px;
}

.boxes{
    margin: 0;
    padding: 0;
    position: relative;
}

#firstPageImage{
    height: 520px;
    width: 500px;
    margin-left: 300px;
    background-image: url(homeImage.png);
    /* background-color: green; */
    background-size: 800px;
    background-position: 65% 75%;
    border-radius: 360px 360px 0px 0px;
    margin-top: -460px;
}
.firstPage{
    width:400px;
    margin-left: 150px;
    color: #FBFDFD;
    padding:0;
}

#homePageMap{
    z-index: -1;
    margin-top: -30px;
    width: 100%;
    height: 760px;
    background-size: 100%;
    background-position: bottom 52em right 0;
    background-image: url(map.png);
}

#mapText{
    height: 100px;
    width:70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #8EB1D0;
    font-family: 'Tangerine', cursive;
    font-size: 60px;
    color: #FBFDFD;
}


#mapConatiner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}