body{
    margin: 0;
    font-family: 'Roboto Slab', serif;
    background-color: #FBFDFD;
}
/* NAV BAR*/
.navbar{
    margin-bottom: 0;
}
.nav-list {
    background-color: #8EB1D0;
    display:flex;
    justify-content: center;
    margin-bottom: 0;

}
.nav-item{
    list-style: none;
    padding-top: 50px;
    padding-right: 6%;
    align-items: center;
}
.logo{
    /* padding-top: 50px; */ 
    color: #FBFDFD;
    align-items: center;
    margin-bottom: 0;
}
.nav-item a{
    font-size: 1.2rem;
    font-family: 'Roboto Slab' serif;
    text-decoration: none;
    color: #FBFDFD; 
}

header{
    margin-bottom: 0;
    padding:0;
}

/* HOME PAGE */
#greenHomePageBox{
    z-index: -1;
    width: 525px;
    height: 520px;
    background: #C8D090;
}
#blueHomePageBox{
    z-index: -1;
    width: 850;
    height: 520px;
    margin:0;
    background: #254159;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row {
    margin-top: 0;
    padding: 0;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 
#frameOne{
    z-index: -1;
    width: 525px;
    height: 560px;
    margin-top: -50px;
}

.boxes{
    margin: 0;
    padding: 0;
    position: relative;
}

#firstPageImage{
    height: 520px;
    width: 500px;
    margin-left: 300px;
    background-image: url(homeImage.png);
    background-size: 800px;
    background-position: 65% 75%;
    border-radius: 360px 360px 0px 0px;
    margin-top: -460px;
}
.firstPage{
    width:400px;
    margin-left: 150px;
    color: #FBFDFD;
    padding:0;
}
#homePageMap{
    z-index: -1;
    margin-top: -30px;
    width: 100%;
    height: 100vh;
    background-size: 100%;
    background-position: bottom 52em right 0;
    background-image: url(map.png);
}
#showMap{
    position: relative;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-size: 100%;
    background-position: bottom 52em right 0;
    background-image: url(map.png);
}

#mapText{
    height: 100px;
    width:70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #8EB1D0;
    font-family: 'Tangerine', cursive;
    font-size: 60px;
    color: #FBFDFD;
}


#mapConatiner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#mapContainer{
    height: 700px;
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* TRIP PAGE */
#tripHeader{
    background-color: #254159;
    width:100%;
    height: 475;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

#tripImage{
    height: 550px;
    width: 550px;
    background-image: url(testTripImage.png);
    background-size: 100%;
    border-radius: 360px;
    margin-left: 325px;
}

#tripText{
    display: flex;
    flex-direction: column;
    align-items: left;
   margin-top: 200px;
   margin-left: 300px;
}
#tripLocation{
    width: 815px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 102.188px;
    line-height: 135px;
    background-color: #C8D090;
    color:#FBFDFD;
    margin-top: -1px;
}
#newPost{
    font-size: 30px;
    background-color: #C8D090;
    text-decoration: none;
    color:#FBFDFD;
    margin-top: -90px;
    width:815px; 
}
#postsOfTripContainer{
    background-color: #254159;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.individualPost{
    top: 100px;
    padding-top: 30px;
    width: 400px;
    height: 450px;
    background-color: tan;
    border-radius: 360px 360px 0 0 ;
}

