body{
    background-color: #dce7ec;
}

#formStuff{
    display: flex;
    align-items: center;
    justify-content: center; 
}
#beginning{
    height: 100px;
    background-color: #41809F;
}
#header {
    font-size: 60;
    color: #ffffff;
    text-align: center;
    font-family: 'Koulen', cursive;
}
h2 {
    font-family: 'Roboto Mono', monospace;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
} 

/* BLOCK ONE */
#blockOne{
    height: 500px;
    width: 100%;
    position: relative;
}
#backgroundOne{
    background-size: cover;
    background-image: url(blockOne.jpg); 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
}
#profileImage{
    margin: 50px;
    height: 400px; 
    border: 3px solid #41809F;
}

.left {
    width: 30%;
}

#blockOneText{
    margin: 50px;
    height: 400px; 
    width: 60%;
    background-color: rgba(184, 214, 225, .9);
    border: 3px solid #41809F;
    text-align: left;
    font-family: 'Roboto Mono', monospace;
    font-size: 20;
    color: #254A56;
    padding-left: 25px;
    padding-right: 25px;


    /* align-items: center; */
}


/* BLOCK TWO */
#blockTwo{
    height: 500px;
    width: 100%;
    position: relative;
}
#backgroundTwo{
    background-size: cover;
    background-image: url(blockTwo.jpg); 
    /* background-position: 0px -50px; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
    /* transform:translateY(50%); */
}
.space{
    margin: 50px;
    height: 400px; 
    background-color: rgba(231, 217, 255, .5);
    border: 5px solid #B082A0;
    width: 30%;
}
.blockTwoColor {
    font-family: 'Roboto Mono', monospace;
    font-size: 40;
    color: #B082A0;
}
.aboutMe{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 20;
    color: #BD859E;
    padding-left: 25px;
    padding-right: 25px;
}
.linking{
    color: #B082A0;
}

/* BLOCK THREE */
#backgroundThree{
    background-size: cover;
    background-image: url(blockThree.jpg); 
    position: absolute;
    background-position: 0px 1200px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
}
#blockThree{
    height: 500px;
    width: 100%;
    position: relative;
}
.spaceThree{
    margin: 50px;
    height: 400px; 
    background-color: rgba(177, 200, 184, .5);
    border: 5px solid #27676D;
    width: 30%;
}
.blockThreeColor {
    font-family: 'Roboto Mono', monospace;
    color: #27676D;
    font-size: 40;
}
.greenSection{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 20;
    color: #258A93;
    padding-left: 25px;
    padding-right: 25px;
}
.linkingAgain{
    color: #27676D;
}